{% extends 'symmetric_ciphers/base.html' %} {% block nav_symmetric %}

<div>
    <a href="/symmetric_ciphers/stream_cipher" class="mr-5 text-white">Stream</a>
    <div class="h-1 w-8 my-2 bg-indigo-500 rounded"></div>
</div>
<a class="mr-5 hover:text-white">Block</a>
<nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
    <div>
        <a class="mr-5 text-white">Ceaser</a>
        <div class="h-1 w-8 my-2 bg-indigo-500 rounded"></div>
    </div>
    <a href="/symmetric_ciphers/stream_cipher/monoalphabetic" class="mr-5 hover:text-white">Monoalphabetic</a>
    <a href="/symmetric_ciphers/stream_cipher/polyalphabetic" class="mr-5 hover:text-white">Polyalphabetic</a>
    <a href="/symmetric_ciphers/stream_cipher/hill" class="mr-5 hover:text-white">Hill</a>
    <a href="/symmetric_ciphers/stream_cipher/playfair" class="mr-5 hover:text-white">Playfair</a>
</nav>

{% endblock nav_symmetric %} {% block body %} {% load static %}
<form id="ceaser_form" method="POST"> {% csrf_token %}
    <section class="text-gray-500 bg-gray-900 body-font font-bold">
        <div class="container px-5 py-20 mx-auto flex flex-wrap items-center">
            <div class="lg:w-1/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
                <h1 class="title-font font-medium text-3xl text-white">Caesar Cipher in Cryptography</h1>
                <p class="leading-relaxed mt-4">The Caesar Cipher technique is one of the earliest and simplest method of encryption technique. It’s simply a type of substitution cipher, i.e., each letter of a given text is replaced by a letter some fixed number of positions down the
                    alphabet. For example with a shift of 1, A would be replaced by B, B would become C, and so on. The method is apparently named after Julius Caesar, who apparently used it to communicate with his officials.</p>
            </div>


            <div class="lg:w-4/6 md:w-1/2 bg-gray-800 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
                <h2 class="text-white text-lg font-medium title-font mb-5">Ceaser Cipher</h2>
                <style>
                    input[type="radio"]+label span {
                        transition: background .2s, transform .2s;
                    }
                    
                    input[type="radio"]+label span:hover,
                    input[type="radio"]+label:hover span {
                        transform: scale(1.2);
                    }
                    
                    input[type="radio"]:checked+label span {
                        background-color: #3490DC;
                        box-shadow: 0px 0px 0px 2px white inset;
                    }
                    
                    input[type="radio"]:checked+label {
                        color: #3490DC;
                    }
                </style>
                <div class="flex items-center mr-4 mb-4">
                    <input id="enc" type="radio" name="radio" class="hidden" checked="checked" />
                    <label for="enc" class="flex items-center cursor-pointer">
                        <span class="w-4 h-4 inline-block mr-1 rounded-full border border-grey"></span>
                    Encryption</label>
                    <span class="mx-4"></span>
                    <input id="dec" type="radio" name="radio" class="hidden" />
                    <label for="dec" class="flex items-center cursor-pointer">
                        <span class="w-4 h-4 inline-block mr-1 rounded-full border border-grey"></span>
                     Decryption</label>
                </div>


                <textarea class="bg-gray-900 rounded border text-white border-gray-900 focus:outline-none focus:border-indigo-500 text-base px-4 py-2 mb-4" id="input" placeholder="Enter text" type="text"></textarea>
                <div>
                    <label for="key">Key</label>
                    <input class="lg:w-1/6 md:w-1/2 bg-gray-900 rounded border text-white border-gray-900 focus:outline-none focus:border-indigo-500 text-base px-4 py-2 mb-4" id="key" type="number" value="3">
                    <style>
                        @media screen and (-webkit-min-device-pixel-ratio: 0) {
                            input[type="range"]::-webkit-slider-thumb {
                                width: 14px;
                                -webkit-appearance: none;
                                appearance: none;
                                height: 10px;
                                cursor: ew-resize;
                                background: rgb(233, 17, 17);
                                box-shadow: -405px 0 0 400px #605E5C;
                                border-radius: 50%;
                            }
                        }
                    </style>
                    <input class="mx-10 lg:w-3/6 md:w-1/2 rounded-lg overflow-hidden appearance-none bg-gray-400 h-5 w-128" id="slider" type="range" min="0" max="25" step="1" value="3" />
                </div>
                <!-- <button class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg" id="btn">Button</button> -->
                <p id="output" class="text-xs text-gray-600 mt-3">Your output will be show here !!</p>
            </div>
        </div>
    </section>
</form>

<section class="text-gray-500 bg-gray-900 body-font overflow-hidden font-bold">
    <div class="container px-5 py-4 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="{% static 'symmetric_ciphers/ceaser1.png' %}">
            <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
                <h2 class="text-sm title-font text-gray-600 tracking-widest">SYMMETRIC STREAM</h2>
                <h1 class="text-white text-3xl title-font font-medium mb-1">Ceaser Cipher</h1>
                <div class="flex mb-4">
                    <span class="flex items-center">
            </span>
                </div>
                <p class="leading-relaxed">E_n( x ) = ( x + n ) mod 26
                    <br>( Encryption Phase with shift n ) <br> D_n( x ) = ( ( x - n ) + 26 ) mod 26 <br> ( Decryption Phase with shift n )</p>
            </div>
        </div>
    </div>

    <div class="lg:w-4/6 md:w-1/2 bg-gray-800 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
        <span style="color:red;"> Examples: </span><br> Text : ABCDEFGHIJKLMNOPQRSTUVWXYZ <br> Shift: 23 <br> Cipher: XYZABCDEFGHIJKLMNOPQRSTUVW <br><br> Text : ATTACKATONCE <br> Shift: 4 <br> Cipher: EXXEGOEXSRGI
    </div>


</section>


<script>
    let input = document.getElementById('input');
    let key = document.getElementById('key');
    let slider = document.getElementById('slider');
    let output = document.getElementById('output');

    let enc = document.getElementById('enc');
    let dec = document.getElementById('dec');

    input.addEventListener('keyup', function() {
        do_this();
    });

    slider.addEventListener('mousemove', function() {
        key.value = slider.value;
        do_this();
    });
    slider.addEventListener('touchmove', function() {
        key.value = slider.value;
        do_this();
    });
    slider.addEventListener('keyup', function() {
        key.value = slider.value;
        do_this();
    });
    slider.addEventListener('click', function() {
        key.value = slider.value;
        do_this();
    });
    key.addEventListener('keyup', function() {
        slider.value = key.value;
        do_this();
    });
    key.addEventListener('click', function() {
        slider.value = key.value;
        do_this();
    });
    enc.addEventListener('click', function() {
        do_this();
    });
    dec.addEventListener('click', function() {
        do_this();
    });

    function do_this() {
        if (key.value == '') {
            key.value = 0;
        }
        var da = {
            'input': input.value,
            'key': key.value,
            'encryption': enc.checked,
            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
        };
        $.ajax({
            type: 'POST',
            url: '/symmetric_ciphers/stream_cipher/ceaser/ceaser_exi',
            data: da,
            success: function(json) {
                let output_text = `
            <div class="bg-gray-800 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
            <h2 class="text-white text-lg font-medium title-font mb-5">Output</h2>
            <textarea class="bg-gray-900 rounded border text-white border-gray-900 focus:outline-none focus:border-indigo-500 text-base px-4 py-2 mb-4" type="text">${json.output}</textarea>
            </div>`
                output.innerHTML = output_text;
            },
            error: function() {
                alert("Something Wrong !!");
            }
        });
    }
</script>

{% endblock body %}